* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.gradient-container {
  background: linear-gradient(180deg, #ffffff, #ffdda1);
  height: 100vh;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}
